<% if users.any? %>
  <% users.each do |user| %>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class="user_small">
              <% if user.image? %>
                <img src='<%= user.image.url %>' class="icon" alt="ユーザーアイコン">
              <% else %>
                <image src="/assets/default.png" class="icon" alt="ユーザーアイコン" %>
              <% end %>
              <div id="username">
                <p>@<%= link_to user.name, user_path(user) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  <% end %>
<% end %>