<% if logged_in? %>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <%= render 'photos/photos', photos: @photos %>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the UsedClothingNet!!</h1>
      <%= link_to '今すぐサインアップ！', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>