<div id="main">
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the UsedClothingNet!!</h1>
      <%= link_to '今すぐサインアップ！', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>