@charset "UTF-8";
header {
  color: #fff;
}
.navbar {
  background-color: #622d18;
  border-style: solid;
  border-color: #33170c;
  border-radius: 1%;
  height: 100px;
  width: 100%;
  position: fixed;
}

.navbar-brand {
  font-size: 50px;
  font-family: Impact,Charcoal; 
}

.navbar-nav {
   text-align: right;
}

.nav-item {
  display: inline;
}

footer {
  color: #fff;
  background-color: #622d18;
  border-style: solid;
  border-color: #33170c;
  border-radius: 1%;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}


/*footer,p {*/
/*  margin: 0px;*/
/*}*/

a:link, a:visited, a:hover, a:active {
  color: #fff;
}

#main {
  text-align: center;
  padding-top: 150px;
}

.card-header,p{
 display:inline-block;
 vertical-align:top;
}

#toppic{
 border-radius: 50%;
}

.container {
  margin-bottom: 50px;
}